/build/
/SAKILA/nbproject/private/
/SAKILA/SAKILA-war/nbproject/private/
/SAKILA/SAKILA-ejb/nbproject/private/
/Laboratorio#2/Laboratorio#2-ejb/nbproject/private/
/Laboratorio#2/Laboratorio#2-war/nbproject/private/
/Laboratorio#2/nbproject/private/
/Laboratorio#2/Laboratorio#2-ejb/build/
/Laboratorio#2/Laboratorio#2-war/build/
/Laboratorio#2/build/
/Laboratorio#2/Laboratorio#2-ejb/dist/
/Laboratorio#2/Laboratorio#2-war/dist/
/TP1Sakila/nbproject/private/
/TP1Sakila/TP1Sakila-war/nbproject/private/
/TP1Sakila/TP1Sakila-ejb/nbproject/private/
/Laboratorio2/Laboratorio2-ejb/nbproject/private/
/Laboratorio2/Laboratorio2-war/nbproject/private/
/Laboratorio2/Laboratorio2-ejb/build/
/Laboratorio2/Laboratorio2-ejb/dist/
/Laboratorio2/Laboratorio2-war/build/
/Laboratorio2/Laboratorio2-war/dist/
/TP1Sakila/TP1Sakila-ejb/build/
/TP1Sakila/TP1Sakila-ejb/dist/